<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Boynton_Allen_project1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09CAE4781BBF74BA00495796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CAE48C1BBF74BA00495796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CAE4971BBF74BA00495796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
