<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PokeMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0907CD801ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0907CD971ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0907CDA21ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090A22DC1EEDF53C008C3198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
